.title
{
    background-image:url('../images/map-marker.png');
   /* background-position:top right;
    background-repeat:no-repeat;
    padding-right:10px;
    font-weight:bold;*/
}
#map {
    width: 810px;
    height: 800px;
}
body{
    background-image: url('../images/Restaurant1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.formFields {
    font-size: 20px;
    background-color: #45c2dc
}

.logo-who {
    color: white;
    margin: -14px 0 0;
    line-height: 100px;
    font-family: cursive;
    font-weight: normal;
    font-size: 60px;
    text-shadow: 0px 2px 2px #cbcbcb;
    color: #428bca;
    font-weight: bold;
}

.form-control {
    width: 200px;
    margin-top: 40px;
    font-size: 20px;
    background-color: #45c2dc

}

.grid {
    background-color: #FFFFFF;
    border: 2px solid #D2D6D5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    background-color: #94a971;
    border-radius: 15px;
    opacity: 0.7;
    transition: all .25s;
    margin: 5px;
    height: 130px;
    cursor: pointer;
}

.header-con {
    height: 100px;
}

.menus {

    background-color: #45c2dc;
}

.item-detail {
    border-bottom: 1px solid #00ffff;
    background-color: #00ff0d;

}

.right-div {
    height: 100px;
    width: 400px;
    margin-left: -20px;
}

.item-image {
    alignment: left;
    margin-left: 10px;
    margin-top: 10px;
    opacity: 1;

}

.addrInfo {
    margin-left: 100px;
    font-size: 18px;
    color: red;
    margin-left: 130px;
}

.item-name {
    margin: 0px 10px 10px 120px;
    padding-top: 10px;
}

.item-styles {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: left;
}

.rating-styles {
    font-size: 18px;
    font-weight: bold;
    color: green;
    margin-left: 130px;
}

.col-md-6 {
    padding: 0;
}

a {
    color: white;
    font-size: 16px;
}

.serach {
    justify-content: space-around;
    position: absolute;
    left: 1265px;
    top: 0px;
    width: 400px;
    height: 50px;

}

.serachButton {
    position: absolute;
    left: 30px;
    top: 38px;
    width: 100px;
    height: 40px;
    color: black;

}