<!DOCTYPE html>
<html ng-app="wwwApp" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Who What Where</title>
    <link rel="icon" type="image/gif/png" href="images/yelp.png">
    <link href="js/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <link href="css/styles.css" rel="stylesheet">
</head>

<body class="img-responsive" ng-controller="w3MainCtrl">

<!-- Header -->
<div class="container" style="background-color:	#45c2dc;">
    <div class="row">
        <div class="col-xs-12 logo-who">Who What Where</div>
        <div class="col-xs-12">
            <ul class="nav navbar-nav">
                <li ng-repeat="menu in menuNames | filter:name" id="{{menu}}">
                    <a href="#/{{menu.name}}">{{menu.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <form class="form-inline" style="margin-top: -20px;">
        <div class="form-group">
            <input type="text" placeholder="Enter City Name" id="city" class="form-control formFields"/>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Enter Search Item" id="Search" class="form-control formFields"/>
        </div>
        <div class="form-group">
            <button type="button" class="btn form-control custom" ng-click="update()">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    </form>
</div>

<div>
    <ng-view></ng-view>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqrm1LI-8ddEp54fYxIEAP1sF64rc4wMU" async defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.js"></script>
<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script type="text/javascript" src="js/lib/angular-route.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="js/controllers/viewDataController.js"></script>
</body>
</html>