<!DOCTYPE html>
<html ng-app="wwwApp" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Who What Where</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
    <!-- Theme CSS -->
    <link href="css/styles.css" rel="stylesheet">

</head>

<body ng-controller="w3MainCtrl" style="background-image: url('images/Restaurant1.jpg'); background-repeat: no-repeat; background-size: cover;">

<!-- Header -->
<div class="container" style="background-color:	#45c2dc">
    <div class="col-md-6 header-con">
        <span class="logo-who">Who</span>
        <span class="logo-who">What</span>
        <span class="logo-who">Where</span>
    </div>
</div>
<!-- Menus -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 menus" style="min-height: 80px;">
            <ul class="nav navbar-nav navbar-center" id="cats">
                <li ng-repeat="menu in menuNames | filter:name" id="{{menu}}">
                    <a href="#/{{menu.name}}">{{menu.name}}</a>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="container">
    <div class="col-md-3 header-con">
        <input type="text" placeholder="City" id="city" class="form-control formFields"/>
    </div>
    <div class="col-md-3 header-con">
        <input type="text" placeholder="Item" id="Search" class="form-control"/>
    </div>
    <div class="col-md-3 header-con">
        <input type="button" placeholder="Location" class="serachButton formFields" value="Search" ng-click="update()"/>
    </div>
</div>

<div>
    <ng-view></ng-view>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqrm1LI-8ddEp54fYxIEAP1sF64rc4wMU" async defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.js"></script>
<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script type="text/javascript" src="js/lib/angular-route.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="js/controllers/viewDataController.js"></script>
</body>
</html>